 <!--California Mega Lottery: Players may pick six numbers from two separate pools of numbers - 
 five different numbers from 1 to 75 and one number from 1 to 15 - or select Easy Pick.-->
 
 <!--Attemp to simulate lottery number picking-->
 
 <!--Random number from 1 to 75, 5x, no repeating number-->
 
 
 <div style="font-size: 50px">
    <%=Math.ceil(Math.random()*2)%>
    <br>
    <%=Math.floor(Math.random()*75)%>
    <br>
    <%=Math.floor(Math.random()*75)%>
    <br>
    <%=Math.floor(Math.random()*75)%>
    <br>
    <%=Math.floor(Math.random()*75)%>
 </div>
